<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head', {}); %>
  </head>
  <body>
    
    <%- include('include/nav', {name:"about"}); %>
    <!-- END nav -->
    <%- include('include/hero-wrap', {name:"about"}); %>
  
      <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
              <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">About</span>
                <h2 class="mb-4">題組市場</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
              </div>
            </div>
            <div class="ftco-departments">
              <div class="row">
                <div class="col-md-12 nav-link-wrap">
                  <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">商業模型</a>
    
                    <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">獲利</a>
    
                    <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">影響</a>
    
                  </div>
                </div>
                <div class="col-md-12 tab-wrap">
                  
                  <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">
    
                    <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                      <div class="row departments">
                          <div class="col-lg-12">
                              <img src="imgs/ppt/business_model.PNG" style="width: 100%;height: 100%;">
                          </div>
                      </div>
                    </div>
    
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                      <div class="row departments">
                          <div class="col-lg-12">
                              <img src="imgs/ppt/money.PNG" style="width: 100%;height: 100%;">
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                      <div class="row departments">
                          <div class="col-lg-12">
                              <img src="imgs/ppt/effect.PNG" style="width: 100%;height: 100%;">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
              <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Team</span>
                <h2 class="mb-4">我們的團隊</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
              </div>
            </div>	
            <div class="row">
              <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                  <div class="img-wrap d-flex align-items-stretch">
                    <div class="img align-self-stretch" style="background-image: url(imgs/44.jpg);"></div>
                  </div>
                  <div class="text pt-3 text-center">
                    <h3>Dr. 張震龍</h3>
                    <span class="position mb-2">10456044-社會批判權威</span>
                    <div class="faded">
                      <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                      <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                  <div class="img-wrap d-flex align-items-stretch">
                    <div class="img align-self-stretch" style="background-image: url(imgs/06.jpg);"></div>
                  </div>
                  <div class="text pt-3 text-center">
                    <h3>Dr. 陳頤永</h3>
                    <span class="position mb-2">10456006-菸草研究會</span>
                    <div class="faded">
                      <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                      <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                  <div class="img-wrap d-flex align-items-stretch">
                    <div class="img align-self-stretch" style="background-image: url(imgs/39.jpg);"></div>
                  </div>
                  <div class="text pt-3 text-center">
                    <h3>Dr. 卓依</h3>
                    <span class="position mb-2">10456039-專案未來發展委員會</span>
                    <div class="faded">
                      <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                      <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                  <div class="img-wrap d-flex align-items-stretch">
                    <div class="img align-self-stretch" style="background-image: url(imgs/38.jpg);"></div>
                  </div>
                  <div class="text pt-3 text-center">
                    <h3>Dr. 黃安妤</h3>
                    <span class="position mb-2">10456038-正在準備比賽</span>
                    <div class="faded">
                      <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                      <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%- include('include/foot', {}); %>
  <!-- loader -->
  <%- include('include/loader', {}); %>
  </body>
</html>