<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('include/head', {}); %>
</head>

<body>
	<%- include('include/nav', {name:blog_data.data[0].combination_title}); %>
	<!-- END nav -->
	
	<section class="ftco-section" style="padding-top: 4em;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ftco-animate">
					<h2 class="mb-3"><%=blog_data.data[0].combination_title%></h2>
					<%- blog_data.data[0].combination_blog_body%>
					<div class="tag-widget post-tag-container mb-5 mt-5">
						<div class="tagcloud">
							<% if(tag_data.code>=0){tag_data.data.forEach(d => { %>
							<a href="#" class="tag-cloud-link"><%=d.tag_title%></a>
							<%})}else{%>null<% }; %>
						</div>
					</div>

					<div class="row justify-content-center mb-5 pb-2" style="margin-bottom:0 !important ;">
						<h3 class="mb-4">推薦</h3>
					</div>

					<section class="ftco-section testimony-section bg-light" style="padding-top:0;">
						<div class="container">

							<div class="row ftco-animate justify-content-center">
								<div class="col-md-12">
									<div class="carousel-testimony owl-carousel">

										<div class="item">
											<div class="testimony-wrap d-flex">
												test
											</div>
										</div>

										<div class="item">
											<div class="testimony-wrap d-flex">
												<div class="row" style="margin-bottom: 70px;">
													<div class="col-md-4 ftco-animate">
														<div class="pricing-entry pb-5 text-center">
															<div>
																<h3 class="mb-4">Basic</h3>
																<p><span class="price">$24.50</span> <span class="per">/
																		session</span></p>
															</div>
															<ul>
																<li>Diagnostic Services</li>
																<li>Professional Consultation</li>
																<li>Tooth Implants</li>
																<li>Surgical Extractions</li>
																<li>Teeth Whitening</li>
															</ul>
															<p class="button text-center"><a href="#"
																	class="btn btn-primary px-4 py-3">Get Offer</a>
															</p>
														</div>
													</div>
													<div class="col-md-4 ftco-animate">
														<div class="pricing-entry pb-5 text-center">
															<div>
																<h3 class="mb-4">Standard</h3>
																<p><span class="price">$34.50</span> <span class="per">/
																		session</span></p>
															</div>
															<ul>
																<li>Diagnostic Services</li>
																<li>Professional Consultation</li>
																<li>Tooth Implants</li>
																<li>Surgical Extractions</li>
																<li>Teeth Whitening</li>
															</ul>
															<p class="button text-center"><a href="#"
																	class="btn btn-primary px-4 py-3">Get Offer</a>
															</p>
														</div>
													</div>
													<div class="col-md-4 ftco-animate">
														<div class="pricing-entry active pb-5 text-center">
															<div>
																<h3 class="mb-4">Premium</h3>
																<p><span class="price">$54.50</span> <span class="per">/
																		session</span></p>
															</div>
															<ul>
																<li>Diagnostic Services</li>
																<li>Professional Consultation</li>
																<li>Tooth Implants</li>
																<li>Surgical Extractions</li>
																<li>Teeth Whitening</li>
															</ul>
															<p class="button text-center"><a href="#"
																	class="btn btn-primary px-4 py-3">Get Offer</a>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</section>

					<div class="pt-5 mt-5" style="padding-top: 0 !important;margin-top:0 !important;">
						<h3 class="mb-5 h4 font-weight-bold">Comments:</h3>
						<ul class="comment-list">
							<% var i=0%>
							<% i=f(blog_data.data[0].reply, i)%>
							<% function f(a, i){%>
								<% if(i!=0){%>
									<ul class="children" style="padding-top: 0;">
								<% }%>
								<% if(a.length!=0){%>
								<% a.forEach(b=>{%>
									
												<% i=i+1%>
												<li class="comment">
													<div class="vcard bio">
														<img src="images/person_1.jpg" alt="Image placeholder">
													</div>
													<div class="comment-body">
														<h3>John Doe</h3>
														<div class="meta mb-2">January 03, 2019 at 2:21pm</div>
														<p><%-b["context"]%></p>
														<p>
															<a id="modal-reply<%= i%>" href="#modal-container-reply<%= i%>" role="button" class="reply" data-toggle="modal">Reply</a>
														</p>
													</div>
												</li>
												
												<% i=f(b["reply"],i)%>
								<%}) %>
								<% }%>
								<% if(i!=0){%>
									</ul>
								<% }%>
							<% return i; }%>
							
							<!-- END comment-list -->
					</div>
				</div> <!-- .col-md-8 -->

				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box">
							<a href="/GetCode" class="btn btn-secondary py-2 px-3">獲取邀請碼</a>
					</div>

					<div class="sidebar-box ftco-animate">
						<div class="bio mr-5">
							<img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
						</div>
						<div class="desc">
							<h3><%=user_set.data[0].user_name%></h3>
							<p><%=user_set.data[0].user_context%></p>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>Category</h3>
						<ul class="categories">
							<li><a href="#">Neurology <span>(6)</span></a></li>
							<li><a href="#">Cardiology <span>(8)</span></a></li>
							<li><a href="#">Surgery <span>(2)</span></a></li>
							<li><a href="#">Dental <span>(2)</span></a></li>
							<li><a href="#">Ophthalmology <span>(2)</span></a></li>
						</ul>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>Popular Articles</h3>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
										blind texts</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
										blind texts</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
										blind texts</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>Tag Cloud</h3>
						<ul class="tagcloud m-0 p-0">
							<% if(all_tag.code>=0){all_tag.data.forEach(d => { %>
							<a href="#" class="tag-cloud-link"><%=d.tag_title%></a>
							<%})}else{%>null<% }; %>
						</ul>
					</div>
				</div><!-- END COL -->
			</div>
		</div>
	</section>
	
	<% for(var j=1;j<=i;j++){%>
	<div class="modal fade" id="modal-container-reply<%= j%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">
							reply<%= j%>
						</h5> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						...
					</div>
					<div class="modal-footer">
						 
						<button type="button" class="btn btn-primary">
							Save changes
						</button> 
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
				
			</div>
			
		</div>
		<%}%>
	<%- include('include/foot', {}); %>
	<!-- loader -->
	<%- include('include/loader', {}); %>

</body>

</html>