<html lang="en">

<head>
	<%- include('include/head', {}); %>
</head>

<body>
	<%- include('include/nav', {name:undefined}); %>
	<%- include('include/hero-wrap', {name:blog_data.data[0].blog_title}); %>
	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-8 ">
					<p>更新時間：<%=blog_data.data[0].last_update%></p>
					<!-- <img src="imgs/bg_1.jpg" alt="Image placeholder" class="img-fluid mb-4"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dVlb7m-NWB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-4 ">
					<div class="sidebar-box ftco-animate fadeInUp ftco-animated" style="margin-bottom:0;">
						<div class="bio mr-5">
							<img src="imgs/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
						</div>
						<div class="desc">
							<h3><%=user_set.data[0].user_name%></h3>
							<p><%=user_set.data[0].user_context%></p>
						</div>
						<ul class="tagcloud m-0 p-0">
							<% if(blog_tag.code>=0){blog_tag.data.forEach(d => { %>
							<a href="/" class="tag-cloud-link"><%=d.tag_title%></a>
							<%})}else{%>null<% }; %>
						</ul>
					</div>
				</div>
			</div>

			<!-- 近日更新 -->
			<div class="row no-gutters">
				<div class="col-md-9 ">
						<p>近日更新</p>
					<div class="row" style="margin-bottom: 70px;">
							<% latest_blogs.data.forEach(d => {  %>
						<div class="col-md-4 ftco-animate fadeInUp ftco-animated">
							<div class="pricing-entry pb-5 text-center">
								<div>
									<h3 class="mb-4"><%=d.blog_title%></h3>
									<img src="imgs/dept-2.jpg" style="width: 100%;">
								</div>
								
									
								<%
								function delHtmlTag(str){
									return str.replace(/<[^>]+>/g,"");//去掉所有的html標記
								  }
									var sTest = delHtmlTag(d.short_html).substring(10,30);
								%>
								<p><%= sTest %></p>
								
								<p class="button text-center"><a href="/blog-single?id=<%=d.blog_id%>" class="btn btn-primary px-4 py-3">
									<%= d.blog_title %></a>
								</p>
							</div>
						</div>
						<%})%>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
						<h3>Category</h3>
						<ul class="categories">
							<% impt_tag_table.data.forEach(d => {  %>
							<li><a href="#"><%= d.tag_title %><span><%=d.cnt%></span></a></li>
							<%})%>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- blog_data.data[0].body_html%>

	<section class="ftco-section pt-2 pb-2">
		<div class="container">
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="alert alert-success alert-dismissable">

						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
							×
						</button>
						<h4>
							Alert!
						</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#"
							class="alert-link">alert link</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light pt-5">
		<div class="container">
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-9">
					<div class="row justify-content-center no-mb pb-2">
						<h3 class="mb-4">推薦</h3>
					</div>
					<div class="carousel-testimony owl-carousel">
						<% recommend_blog.data.forEach(b => {  %>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="row" style="margin-bottom: 70px;">
										<% b.forEach(d => {  %>
											<div class="col-md-4 ftco-animate fadeInUp ftco-animated">
												<div class="pricing-entry pb-5 text-center">
													<div>
														<h3 class="mb-4"><%=d.combination_title%></h3>
														<img src="imgs/dept-2.jpg" style="width: 100%;">
													</div>
													
														
													<%
													function delHtmlTag(str){
														return str.replace(/<[^>]+>/g,"");//去掉所有的html標記
													  }
														var sTest = delHtmlTag(d.short_html).substring(10,30);
													%>
													<p><%= sTest %></p>
													
													<p class="button text-center"><a href="/blog-single?id=<%=d.blog_id%>" class="btn btn-primary px-4 py-3">
														<%= d.blog_title %></a>
													</p>
												</div>
											</div>
											<%})%>
								</div>
							</div>
						</div>
						<%})%>

					</div>
				</div>
				<div class="col-md-3">
					<div class="sidebar-box ftco-animate">
						<h3>推薦標籤</h3>
						<!-- TODO -->
						<ul class="tagcloud m-0 p-0">
							<% if(recommend_tag_table.code>=0){recommend_tag_table.data.forEach(d => { %>
							<a href="#" class="tag-cloud-link"><%=d.tag_title%></a>
							<%})}else{%>null<% }; %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light pt-5">
		<div class="container">
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-7">
					<div class="pt-5 mt-5" style="padding-top: 0 !important;margin-top:0 !important;">
						<h3 class="mb-5 h4 font-weight-bold">最有價值的留言:</h3>
						<ul class="comment-list">
							<% var i=0%>
							<% i=f(comment.data, i)%>
							<% function f(arr, i){%>
							<% if(i!=0){%>
								<ul class="children" style="padding-top: 0;">
							<% }%>
							<% i=i+1%>
							<% arr.forEach(obj=>{%>
								<li class="comment">
									<div class="vcard bio">
										<img src="imgs/person_1.jpg" alt="Image placeholder">
									</div>
									<div class="comment-body">
										<h3>John Doe</h3>
										<div class="meta mb-2">January 03, 2019 at 2:21pm</div>
										<p><%-obj.context%></p>
										<p>
											<a id="modal-reply<%= i%>" href="#modal-container-reply<%= i%>"
												role="button" class="reply" data-toggle="modal">Reply</a>
										</p>
									</div>
								</li>
							
								<%i=f(obj.reply, i)%>
							<%})%>
							<% if(i!=0){%>
								</ul>
							<% }%>
							<% return i; }%>

							<!-- END comment-list -->
					</div>
				</div>
				<div class="col-md-5">
						<div class="pt-5 mt-5" style="padding-top: 0 !important;margin-top:0 !important;">
							<h3 class="mb-5 h4 font-weight-bold">最新留言:</h3>
							<ul class="comment-list">
								<% var i=0%>
								<% i=f(comment.data, i)%>
								<% function f(arr, i){%>
								<% if(i!=0){%>
									<ul class="children" style="padding-top: 0;">
								<% }%>
								<% i=i+1%>
								<% arr.forEach(obj=>{%>
									<li class="comment">
										<div class="vcard bio">
											<img src="imgs/person_1.jpg" alt="Image placeholder">
										</div>
										<div class="comment-body">
											<h3>John Doe</h3>
											<div class="meta mb-2">January 03, 2019 at 2:21pm</div>
											<p><%-obj.context%></p>
											<p>
												<a id="modal-reply<%= i%>" href="#modal-container-reply<%= i%>"
													role="button" class="reply" data-toggle="modal">Reply</a>
											</p>
										</div>
									</li>
								
									<%i=f(obj.reply, i)%>
								<%})%>
								<% if(i!=0){%>
									</ul>
								<% }%>
								<% return i; }%>
	
								<!-- END comment-list -->
						</div>
					</div>
			</div>
		</div>
	</section>

	<% for(var j=1;j<=i;j++){%>
	<div class="modal fade" id="modal-container-reply<%= j%>" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">
						reply<%= j%>
					</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-primary">
						Save changes
					</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>

		</div>

	</div>
	<%}%>
				<%- include('include/foot', {}); %>
	<!-- loader -->
	<%- include('include/loader', {}); %>

</body>

</html>